
\.idea/

*.pyc

src/py21cmmc\.egg-info/
src/21CMMC.egg-info/*
devel/cosmohammer_data/

*.so
build/
*.*~
.pytest_cache/
_build/
_autosummary
vgcore.*
devel/\.ipynb_checkpoints/
devel/cosmohammer_data/
devel/data/
dist/

docs/faqs/\.ipynb_checkpoints/

*.h5

*.log

docs/tutorials/\.ipynb_checkpoints/

docs/tutorials/data/

\.tox/

\.coverage
\.coverage.*

htmlcov/


pip-wheel-metadata/
src/21CMMC.egg-info/
src/21cmMC.egg-info/
21cmMC.egg-info/
*.egg-info/
devel/*.out
_version.py
