# Config file for automatic testing at travis-ci.org
dist: xenial
language: python
python:
  - 3.7
  - 3.6

addons:
  apt:
    packages:
    - libfftw3-dev
    - libgsl0-dev
    - gfortran
    - libblas-dev
    - liblapack-dev
    update: true


# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
    - pip install -U tox-travis coverage coveralls tox-pip-version Cython
    - git clone https://github.com/lesgourg/class_public.git class
    - cd class && make
    - curl "http://pla.esac.esa.int/pla/aio/product-action?COSMOLOGY.FILE_ID=COM_Likelihood_Data-baseline_R3.00.tar.gz" -o COM_Likelihood_Data-baseline_R3.00.tar.gz && tar zxvf COM_Likelihood_Data-baseline_R3.00.tar.gz
    - curl "http://pla.esac.esa.int/pla/aio/product-action?COSMOLOGY.FILE_ID=COM_Likelihood_Code-v3.0_R3.01.tar.gz" -o COM_Likelihood_Code-v3.0_R3.01.tar.gz && tar zxvf COM_Likelihood_Code-v3.0_R3.01.tar.gz 
    - cd code/plc_3.0/plc-3.01 && ./waf configure && ./waf install

# command to run tests, e.g. python setup.py test
script:
  - tox
  - coverage report


# Calculate coverage
after_success:
  - ls -a
  - coveralls
