# Config file for automatic testing at travis-ci.org
dist: xenial
language: python
matrix:
    include:
        - python: 3.7
          env: TOXENV=py37
        - python: 3.6
          env: TOXENV=py36

addons:
  apt:
    packages:
    - libfftw3-dev
    - libgsl0-dev
    - gfortran
    - libblas-dev
    - liblapack-dev
    update: true


# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
    - which python
    - pip install -U tox-travis coverage coveralls tox-pip-version Cython
    - wget https://heasarc.gsfc.nasa.gov/FTP/software/fitsio/c/cfitsio_latest.tar.gz && tar zxvf cfitsio_latest.tar.gz
    - cd cfitsio* && export CFITSIO_DIR=`pwd` && ./configure && make shared  && make install && cd ..
    - curl "http://pla.esac.esa.int/pla/aio/product-action?COSMOLOGY.FILE_ID=COM_Likelihood_Code-v3.0_R3.01.tar.gz" -o COM_Likelihood_Code-v3.0_R3.01.tar.gz && tar zxvf COM_Likelihood_Code-v3.0_R3.01.tar.gz
    - cd code/plc_3.0/plc-3.01 && ./waf configure --cfitsio_prefix=$CFITSIO_DIR && ./waf install && cd ../../../

# command to run tests, e.g. python setup.py test
script:
  - tox
  - coverage report


# Calculate coverage
after_success:
  - ls -a
  - coveralls
