[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
corner = "*"
pytest-cov = "*"
pre-commit = "*"
tox = "*"

[packages]
21cmfast = {editable = true,git = "git://github.com/21cmfast/21cmFAST"}
21cmmc = {editable = true,path = "."}

[requires]
python_version = "3.7"
