[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
numpy = "*"
cffi = "*"
scipy = "*"
astropy = "*"
corner = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
tox = "*"
21cmfast = {git = "git://github.com/21cmFAST/21cmFAST"}
PyYAML = "*"
21cmmc = {editable = true,path = "."}

[requires]
python_version = "3.7"
